<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Custom Timesheet</title>
	<link rel="stylesheet" type="text/css" href="static/stylesheets/mainpage.css" />
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Custom Timesheet</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul id="navbarLogin" class="nav navbar-nav navbar-right">
					<form action="/login" method="post">
						<ul id="navbarLogin" class="nav navbar-nav navbar-right">
							<li><input type="text" name="username" class="form-control" placeholder="Username"></li>
							<li><input type="password" name="password" class="form-control" placeholder="Password"></li>
							<li><input type="submit" value="Login"></li>
						</ul>
					</form>
			</div><!--/.nav-collapse -->
		</div>
	</div>

 	<div class="container">
 		<h3>New User? Register Here:</h3>
 		<form action="/register" method="post">
		<table>
			<tr>
				<td>First Name: </td>
				<td><input type="text" name="fname"></td>
			</tr>
			<tr>
				<td>Last Name: </td>
				<td><input type="text" name="lname"></td>
			</tr>
			<tr>
				<td>Username: </td>
				<td><input type="text" name="newusername"></td>
			</tr>
			<tr>
				<td>Password: </td>
				<td><input type="password" name="newpassword"></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="Register"></td>
			</tr>
		</table>
		</form>
 	</div>

 	<div id="error" hidden="True">Username is already taken!</div>
 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>